<section id="about" data-stellar-background-ratio="0.5">

    <div class="container">



        <div class="rowab">






            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.2s">

                    </div>
                    <br>
                    <h3>Miel 100% pura</h3>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <p> <span class="tmiel">APIZZ  </span> &nbsp;Los beneficios y propiedades de la miel que tiene en la salud humana son conocidos desde la antigüedad, tanto en uso tópico como consumo de alimento natural y el ser humano disfruto de ella
                            desde siempre.
                        </p>
                        <p>
                            Los minerales más frecuentes en la miel son calcio, cobre, hierro, magnesio, manganeso, zinc, fósforo y potasio. Están presentes también alrededor de la mitad de los aminoácidos existentes, ácidos orgánicos (ácido acético, ácido cítrico, entre otros)
                            y vitaminas del complejo B, vitamina C, D y E.

                        </p>
                        <h4>Beneficios de la miel:</h4>
                        <ul>
                            <li>Regula el azúcar en la sangre</li>
                            <li> Reduce el estrés metabólico</li>
                            <li> Promueve la recuperación del sueño Estimulante del sistema inmunológico</li>
                            <li> Tratamiento para el estreñimiento</li>
                            <li> Mejora la función cerebral</li>
                            <li> Acné y dermatitis</li>
                            <li>Evita las alergias</li>
                            <li>Repara las heridas, quemaduras y úlceras</li>
                            <li>Hidratante de la piel</li>
                            <li>Reparador labial</li>
                            <li>
                                Ayuda en el Ciclo menstrual</li>

                        </ul>
                        <br>

                    </div>



                </div>

            </div>

            <div class="rowimag2">
                <img width="40%" height="40%" src="../images/m1.jpg">
            </div>
        </div>




    </div>
</section>
<br>