<footer id="footer" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-8">
                <div class="footer-info">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Contáctanos</h2>
                    </div>
                    <address class="wow fadeInUp" data-wow-delay="0.4s">
                        <p><a href=" http://wa.link/gza2wf">099 198 6347</a></p>
                        <p><a href="https://api.whatsapp.com/send?phone=+593997673977&text=Hola%20BerryMuch,%20deseo%20mayor%20informacion%20"> 099 767 3977</a></p>
                        <p></p><a href="mailto:berrymuchweb@gmail.com">berrymuchweb@gmail.com</a></p>
                        
                   </address>
                </div>
            </div>

            <div class="col-md-3 col-sm-8">
                <div class="footer-info">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Síguenos</h2>
                    </div>
                    <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">
                        <li>
                            <a href="https://www.facebook.com/BerryMuchApizz" class="fa fa-facebook-square" attr="facebook icon"></a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/berr_ymuch/" class="fa fa-instagram"></a>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="col-md-4 col-sm-8">
                <div class="footer-info footer-open-hour">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Horarios de Atención</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">

                        <div>
                            <strong> Recepción de Pedidos</strong>
                            <p>Lunes a Jueves
                                <br> 07:00 AM - 9:00 PM</p>

                        </div>

                        <div>
                            <strong>Entregas</strong>
                            <p>Viernes
                                <br> 10:00 AM - 7:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">


                <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s">
                    <p><br>Copyright &copy; 2021 <br>BerryMuch</p>
                    <p>
                        <a href="dashboardbarrysoft/index.php"><br>ADMIN</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>