<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">

        <div class="owl-carousel owl-theme">
            <div class="item item-first2">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-8 col-sm-12">
                            <h3>Calidad</h3>
                            <h1>Miel de abeja 100% pura</h1>
                            <a href="#contact" class="section-btn btn btn-default smoothScroll">Conoce más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second2">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-8 col-sm-12">
                            <h3>Salud</h3>
                            <h1>Perfecta para reducir el consumo de azúcares procesadas</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-third2">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-8 col-sm-12">
                            <h3>Perfecta para endulzar </h3>
                            <h1 class="hmorado">Disfrútala en bebidas, postres y snacks</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>