<section id="menu" data-stellar-background-ratio="0.5">
    <div class=" container containermenu">
        <div class="col-md-12 col-sm-12">
            <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                <h2>Nuestros Productos</h2>
                <h4>Frutos Rojos, Infusiones, Miel de abeja, Mermeladas</h4>
            </div>
        </div>
        <div class="row row1">

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="images/arandano3.JPG" class="image-popup" title="Arándanos">
                        <img src="images/arandano3.JPG" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Arándanos</h3>
                                <p>Presentaciones de: 500g - 1kg</p>
                            </div>
                            <div class="menu-price">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="images/fresa2.JPG" class="image-popup" title="Frutillas">
                        <img src="images/fresa2.JPG" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Frutillas</h3>
                                <p>Presentaciones de: 4kg - 8kg - 10kg </p>
                            </div>
                            <div class="menu-price">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="images/mora1.jpeg" class="image-popup" title="Mora">
                        <img src="images/mora1.jpeg" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Moras</h3>
                                <p> 500g</p>
                            </div>
                            <div class="menu-price">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="images/mix1.JPG" class="image-popup" title="Frambuesas">
                        <img src="images/mix1.JPG" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Frambuesas</h3>
                                <p>500g</p>
                            </div>
                            <div class="menu-price">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="images/mielej.jpeg" class="image-popup" title="Miel de abeja">
                        <img src="images/mielej.jpeg" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Miel</h3>
                                <p>1kg</p>
                            </div>
                            <div class="menu-price">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="images/teej.jpeg" class="image-popup" title="Té de frutos secos">
                        <img src="images/teej.jpeg" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Té de frutas</h3>
                                <p>500g</p>
                            </div>
                            <div class="menu-price">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="images/miel5.jpeg" class="image-popup" title="Miel">
                        <img src="images/miel5.jpeg" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Miel</h3>
                                <p>500g</p>
                            </div>
                            <div class="menu-price">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <!-- MENU THUMB -->
                <div class="menu-thumb">
                    <a href="images/m1.jpg" class="image-popup" title="Miel">
                        <img src="images/m1.jpg" class="img-responsive" alt="">

                        <div class="menu-info">
                            <div class="menu-item">
                                <h3>Miel</h3>
                                <p>500g</p>
                            </div>
                            <div class="menu-price">
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>