<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container cont1">
        <div class="navbar-header">
            <div class="divlogoimagen">
                <a href="index.php"><img src="images/logobann-14.png" class="logoimagen" alt=""></a>
            </div>
        </div>
        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#home" class="smoothScroll">Home</a></li>
                <li><a href="#about" class="smoothScroll">Nosotros</a></li>
                <li><a href="#menu" class="smoothScroll">Galería</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=" http://wa.link/gza2wf">Escríbenos! <i class="fa fa-phone"></i> 099 198 6347</a></li>
                <a href="frutosrojos.php" class="section-btn">Productos</a>
            </ul>
        </div>
    </div>
</section>